In [2]:
import pandas as pd
from pandas import read_parquet

In [3]:
data = pd.read_csv("../data/tables/COVID_AU_state.csv")

In [4]:
data

,date,state,state_abbrev,confirmed,confirmed_cum,deaths,deaths_cum,tests,tests_cum,positives,...,recovered,recovered_cum,hosp,hosp_cum,icu,icu_cum,vent,vent_cum,vaccines,vaccines_cum
0,2020-01-25,Australian Capital Territory,ACT,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-25,New South Wales,NSW,3,3,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-25,Northern Territory,NT,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-25,Queensland,QLD,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-25,South Australia,SA,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7531,2022-08-23,Queensland,QLD,2782,1596364,26,1876,4731,8357233,2782,...,0,2210,6,383,-2,11,0,0,0,11647145
7532,2022-08-23,South Australia,SA,850,747760,10,810,4883,5525645,850,...,0,1980,-32,227,0,8,-1,1,0,4323540
7533,2022-08-23,Tasmania,TAS,326,243640,1,177,0,766983,326,...,0,225,3,59,-1,2,0,0,0,1409172
7534,2022-08-23,Victoria,VIC,3638,2543204,25,5133,7635,22097090,3638,...,0,294076,-24,414,-1,28,-2,10,0,16092619
7535,2022-08-23,Western Australia,WA,1772,1119443,2,599,4667,4470301,1772,...,0,1257,2,237,0,4,0,0,0,6753552

In [5]:
data = data[['date','state','state_abbrev','confirmed','confirmed_cum']]

In [6]:
data = data[(data["date"]>="2021-02-28")\
    &(data["date"]<="2021-08-28")]

In [7]:
data

,date,state,state_abbrev,confirmed,confirmed_cum
3200,2021-02-28,Australian Capital Territory,ACT,0,118
3201,2021-02-28,New South Wales,NSW,5,5177
3202,2021-02-28,Northern Territory,NT,0,105
3203,2021-02-28,Queensland,QLD,0,1329
3204,2021-02-28,South Australia,SA,0,613
...,...,...,...,...,...
4651,2021-08-28,Queensland,QLD,4,1977
4652,2021-08-28,South Australia,SA,1,871
4653,2021-08-28,Tasmania,TAS,0,235
4654,2021-08-28,Victoria,VIC,63,21834
4655,2021-08-28,Western Australia,WA,2,1086

In [8]:
Covid_ACT = (data[data['state_abbrev'] == 'ACT'])
Covid_NSW = (data[data['state_abbrev'] == 'NSW'])
Covid_NT = (data[data['state_abbrev'] == 'NT'])
Covid_QLD = (data[data['state_abbrev'] == 'QLD'])
Covid_SA = (data[data['state_abbrev'] == 'SA'])
Covid_VIC = (data[data['state_abbrev'] == 'VIC'])
Covid_TAS = (data[data['state_abbrev'] == 'TAS'])
Covid_WA = (data[data['state_abbrev'] == 'WA'])

In [9]:
Covid = Covid_ACT.append(Covid_NSW)
Covid =Covid.append(Covid_NT)
Covid =Covid.append(Covid_QLD)
Covid =Covid.append(Covid_SA)
Covid =Covid.append(Covid_VIC)
Covid =Covid.append(Covid_TAS)
Covid =Covid.append(Covid_WA)

In [10]:
Covid

,date,state,state_abbrev,confirmed,confirmed_cum
3200,2021-02-28,Australian Capital Territory,ACT,0,118
3208,2021-03-01,Australian Capital Territory,ACT,0,118
3216,2021-03-02,Australian Capital Territory,ACT,0,118
3224,2021-03-03,Australian Capital Territory,ACT,2,120
3232,2021-03-04,Australian Capital Territory,ACT,0,120
...,...,...,...,...,...
4623,2021-08-24,Western Australia,WA,0,1064
4631,2021-08-25,Western Australia,WA,20,1084
4639,2021-08-26,Western Australia,WA,0,1084
4647,2021-08-27,Western Australia,WA,0,1084
4655,2021-08-28,Western Australia,WA,2,1086

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 3200 to 4655
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1456 non-null   object
 1   state          1456 non-null   object
 2   state_abbrev   1456 non-null   object
 3   confirmed      1456 non-null   int64
 4   confirmed_cum  1456 non-null   int64
dtypes: int64(2), object(3)
memory usage: 68.2+ KB

In [12]:
Covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 3200 to 4655
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1456 non-null   object
 1   state          1456 non-null   object
 2   state_abbrev   1456 non-null   object
 3   confirmed      1456 non-null   int64
 4   confirmed_cum  1456 non-null   int64
dtypes: int64(2), object(3)
memory usage: 68.2+ KB

In [15]:
Covid['date'] = pd.to_datetime(Covid['date'])

In [17]:
Covid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1456 entries, 3200 to 4655
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1456 non-null   datetime64[ns]
 1   state          1456 non-null   object
 2   state_abbrev   1456 non-null   object
 3   confirmed      1456 non-null   int64
 4   confirmed_cum  1456 non-null   int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 68.2+ KB

In [13]:
df = read_parquet("../data/curated/merge6.parquet")

In [20]:
df_all = df.merge(Covid, how ='left', left_on=['date','state'], right_on=['date','state_abbrev'])

In [21]:
df_all

,user_id,merchant_abn,dollar_value,order_id,date,name_x,address,state_x,postcode,consumer_id,...,State,SA2 name,population,population_density,Sum ($)2017-18,Mean ($)2017-18,state_y,state_abbrev,confirmed,confirmed_cum
0,1,28000487688,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,Western Australia,Midland - Guildford,11512.0,982.8,346078382.0,60897.0,Western Australia,WA,0,913
1,18485,62191208634,79.131400,9e18b913-0465-4fd4-92fd-66d15e65d93c,2021-02-28,Samuel Haynes,9969 Catherine View Apt. 601,VIC,3073,1212819,...,Victoria,Thomastown,20211.0,1376.3,470369836.0,46808.0,Victoria,VIC,0,20481
2,1,83690644458,30.441348,40a2ff69-ea34-4657-8429-df7ca957d6a1,2021-02-28,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,1195503,...,Western Australia,Midland - Guildford,11512.0,982.8,346078382.0,60897.0,Western Australia,WA,0,913
3,2,80779820715,48.123977,cd09bdd6-f56d-489f-81ea-440f4bda933c,2021-02-28,Mary Smith,3764 Amber Oval,NSW,2782,179208,...,New South Wales,Wentworth Falls,6436.0,306.0,212463362.0,59647.0,New South Wales,NSW,5,5177
4,18489,43186523025,98.148785,9008a98e-1b02-4de4-bc4c-47395f6275f6,2021-02-28,Elijah Wong,6111 Allen Walk Suite 233,VIC,3378,100699,...,Victoria,Ararat Surrounds,3180.0,0.8,94973125.0,50571.0,Victoria,VIC,0,20481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2605071,18461,81219314324,39.072718,7523db12-e2fc-4eeb-8dbf-3decce70911a,2021-08-27,Erika Brown,46954 Henson Ranch,WA,6282,226975,...,Western Australia,Busselton Surrounds,12300.0,10.0,443188178.0,59665.0,Western Australia,WA,0,1084
2605072,18462,80324045558,5.393613,63e50880-50c8-42b2-a386-f2b92588a9a0,2021-08-27,Karen Torres,1233 Meredith Route Apt. 421,QLD,4471,1092801,...,Queensland,Far South West,2752.0,0.0,68532842.0,47102.0,Queensland,QLD,1,1973
2605073,18471,21359184622,97.760164,8ed0f865-9f70-4e20-8266-81904c95de89,2021-08-27,Ronald Daniel,1182 King Lights,SA,5048,461141,...,South Australia,Brighton (SA),15295.0,2585.0,619462130.0,67998.0,South Australia,SA,0,870
2605074,18472,21807339153,54.310599,3251ce95-a850-4fbc-98d0-32bce1651d40,2021-08-27,Mr. Robert Jackson,68692 Katrina Oval,VIC,3770,659268,...,Victoria,Lilydale - Coldstream,19783.0,180.9,707558316.0,61266.0,Victoria,VIC,78,21771
2605075,18477,63290521567,17.826070,0aa657d5-c559-41f7-9345-5d2162ad46f5,2021-08-27,Frank Williams,7555 Mendoza Centers Apt. 960,VIC,3115,1117623,...,Victoria,Warrandyte - Wonga Park,10183.0,222.5,584086109.0,85193.0,Victoria,VIC,78,21771

In [22]:
df_all.isnull().sum()

user_id               0
merchant_abn          0
dollar_value          0
order_id              0
date                  0
name_x                0
address               0
state_x               0
postcode              0
consumer_id           0
name_y                0
tags                  0
revenue_levels        0
take_rate             0
SA2 code              0
State                 0
SA2 name              0
population            0
population_density    0
Sum ($)2017-18        0
Mean ($)2017-18       0
state_y               0
state_abbrev          0
confirmed             0
confirmed_cum         0
dtype: int64

In [ ]:
df_all.to_parquet("../data/curated/final_merged.parquet")